
/*===================================*/


/*Trang Cart-emty Và Cart*/


/*====================================*/
.slider-pro a {
    display: block;
}

.cart-empty {
    font-size: 3.063em;
    line-height: 1.49em !important;
    font-weight: 300;
    color: #090909;
    margin-bottom: 10px !important;
    text-align: center;
}

.return-to-shop {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0px;
}

.woocommerce .return-to-shop a.button,
.return-to-shop a.button {
    border-radius: 3px;
    padding: 15px 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    background-color: #f97242;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.woocommerce .return-to-shop a.button:hover,
.return-to-shop a.button:hover {
    background-color: #f97242;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


#content .woocommerce table.shop_table,
#content .woocommerce-page table.shop_table {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
}

#content .woocommerce .cart-collaterals .cart_totals table,
#content .woocommerce-page .cart-collaterals .cart_totals table {
    width: 100%;
    border-radius: 3px;
}

#content .woocommerce .cart-collaterals .cart_totals table th,
#content .woocommerce-page .cart-collaterals .cart_totals table th {
    width: 50%;
}


#content .woocommerce .cart-collaterals .shipping_calculator .button,
#content .woocommerce-page .cart-collaterals .shipping_calculator .button {
    width: auto;
}


.woocommerce-cart .product-price span,
.woocommerce-cart .product-subtotal span {
    line-height: initial;
    display: initial;
}

.woocommerce-cart .quantity .qty {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.woocommerce table.cart .product-thumbnail img,
.woocommerce-page #content table.cart .product-thumbnail img,
.woocommerce-page table.cart .product-thumbnail img {
    width: 100px;
}

.quantity {
    position: relative;
    float: left;
    line-height: 20px;
    vertical-align: top;
    overflow: hidden;
}

.woocommerce .quantity .qty.cart {
    width: 80px;
    text-align: center;
    border: 1px solid #ddd;
    height: 24px;
    padding: 0;
    min-height: 0;
    position: static;
    display: inline-block;
}

.woocommerce-page #content .quantity .minus.cart,
.woocommerce-page #content .quantity .plus.cart {
    border: 1px solid #ddd;
    background: #fff;
    height: 24px;
    width: 24px;
    vertical-align: baseline;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 0;
    float: left;
    border-radius: 0px;
    color: #111;
    line-height: initial;
    font-weight: 400;
}

.product-remove {
    position: relative;
}

.product-price span,
.product-subtotal span {}

.order-total span.amount {}

.woocommerce .product-remove a.remove {
    background-color: #fff;
    color: #000 !important;
    font-weight: 400;
    font-size: 26px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.woocommerce .product-remove a.remove:hover {
    color: red!important;
    background: transparent;
}

.woocommerce table.cart td.actions input,
.woocommerce-page #content table.cart td.actions input,
.woocommerce-page table.cart td.actions input {
    background: #2a2a2a;
    color: #fff;
    outline: none;
    height: 30px;
    padding: 0 10px;
    font-weight: 400;
}

.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    display: flex;
}

.woocommerce table.cart td.actions input#coupon_code, .woocommerce-page #content table.cart td.actions input#coupon_code, .woocommerce-page table.cart td.actions input#coupon_code {
    color: #2a2a2a;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #0f7fc1;
    border-right: 0;
    background: none;
    cursor: initial;
    margin: 0;
    padding: 5px;
    height: auto;
    width: auto;
    text-align: left;
}

.woocommerce #content table.cart td.actions .coupon button, 
.woocommerce table.cart td.actions .coupon button, 
.woocommerce-page #content table.cart td.actions .coupon button, 
.woocommerce-page table.cart td.actions .coupon button {
    background: #0f7fc1;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.woocommerce #content table.cart td.actions .coupon button:hover, 
.woocommerce table.cart td.actions .coupon button:hover, 
.woocommerce-page #content table.cart td.actions .coupon button:hover, 
.woocommerce-page table.cart td.actions .coupon button:hover {
    background: #E17DAB;
}

.woocommerce .woocommerce-cart-form .shop_table .actions button.button {
    background: #0f7fc1;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.woocommerce .woocommerce-cart-form .shop_table .actions button.button:hover {
    background: #E17DAB;
    color: #fff;
}


body .wc-proceed-to-checkout a.checkout-button, body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    float: right;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0f7fc1;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0f7fc1 !important;
    color: #fff !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

body .wc-proceed-to-checkout a.checkout-button:hover, body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    color: #fff !important;
    background-color: #e17dab !important;
    border: 1px solid #e17dab;
}

.woocommerce ul#shipping_method li input {
    position: relative;
}

.woocommerce ul#shipping_method li label {
    cursor: pointer;
    font-size: 14px;
}

.woocommerce ul#shipping_method li label span {
    display: initial;
}
.woocommerce .shop_table ul#shipping_method {
    width: 100%;
}
.woocommerce .shop_table ul#shipping_method li {
    font-size: 15px;
    line-height: 1.3;
}
.woocommerce-shipping-destination {
    display: none;
}

.woocommerce-cart .woocommerce-shipping-calculator .form-row input,
.woocommerce-cart .woocommerce-shipping-calculator .form-row select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

/* Trang checkout */
.woocommerce .checkout.woocommerce-checkout {
    display: flex;
    margin: 0px -10px;
}
.woocommerce .col2-set, .woocommerce-page .col2-set, #order_review {
    width: 50% !important;
    padding: 0px 10px;
    display: block !important;
}

.woocommerce-checkout #customer_details .col-1, .woocommerce-checkout #customer_details .col-2 {
    width: 100%;
}
.woocommerce table.shop_table th {
    padding: 10px;
    font-size: 14px;
}
.woocommerce table.shop_table td {
    padding: 10px !important;
}
.woocommerce table.woocommerce-checkout-review-order-table td.product-thumbnail-name .product-thumbnail {
    width: 5em;
    height: 5em;
    background: #fff;
    position: relative;
    display: table-cell;
    margin-right: 1em;
}
.woocommerce table.woocommerce-checkout-review-order-table td.product-thumbnail-name .product-name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
}
.woocommerce table.woocommerce-checkout-review-order-table td .product-thumbnail .product-quantity {
    font-size: 0.85714em;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.15em 0.65em;
    border-radius: 2em;
    background-color: rgba(153,153,153,0.9);
    color: #fff;
    position: absolute;
    right: -5px;
    top: -3px;
    z-index: 2;
}
.checkout h3 {
    font-size: 16px;
    font-weight: 600;
}

.full-content .woocommerce .woocommerce-info {
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #3d9cd2;
    clear: both;
    border-left: .6180469716em solid rgb(52, 133, 179);
}

.full-content .woocommerce .woocommerce-info:before {
    color: #fff;
}

.full-content .woocommerce .woocommerce-info a {}

.full-content .woocommerce .woocommerce-info a:hover {
    text-decoration: underline;
    color: #fff;
}

.full-content .woocommerce form .form-row.woocommerce-validated .select2-container .select2-choice, .full-content .woocommerce form.checkout .form-row input.input-text {
    padding: 9px;
    background-color: #fff;
    color: #444;
    -webkit-appearance: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #ddd;
}

.full-content .woocommerce form.checkout .form-row input.input-text:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: 0;
}

.full-content .woocommerce form .form-row textarea {
    padding: 9px;
    background-color: #fff;
    color: #444;
    outline: 0;
    border: 0;
    height: auto;
    -webkit-appearance: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1em;
    border: 1px solid #ddd;
}

.full-content .woocommerce #payment #place_order,
.full-content .woocommerce-page #payment #place_order {
    position: relative;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    border-radius: 3px;
    margin: 0;
    padding: 6px 15px 8px 15px;
    color: #ffffff;
    background-color: #3d9cd2;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    border: 1px solid #3d9cd2;
}

.full-content .woocommerce #payment #place_order:hover, .full-content .woocommerce-page #payment #place_order:hover {
    background-color: #e17dab;
    border: 1px solid #e17dab;
}
#add_payment_method #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
    line-height: 1 !important;
    margin-bottom: 10px !important;
}
.wc-bacs-bank-details-heading, .wc-bacs-bank-details-account-name {
    display: none;
}
/*===================================*/


/*Trang tài khoản*/


/*====================================*/

.woocommerce-password-strength {
    font-weight: 600;
    padding: .53em 0;
    text-align: right;
    font-size: .857em;
    background: transparent !important;
}

.woocommerce-password-strength:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f119";
    margin-left: .5407911001em;
}

.woocommerce-password-strength.strong {
    color: #0f834d;
}

.woocommerce-password-strength.strong:after {
    content: "\f118";
}

.woocommerce-password-strength.bad,
.woocommerce-password-strength.short {
    color: #e2401c;
}

.woocommerce-password-strength.good {
    color: #3D9CD2;
}

.woocommerce-password-strength.good:after {
    content: "\f11a";
}

.woocommerce-MyAccount-navigation ul {
    margin-left: 0;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.woocommerce-MyAccount-navigation ul li {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    position: relative;
}

.woocommerce-MyAccount-navigation ul li.is-active a:before {
    opacity: 1;
}

.woocommerce-MyAccount-navigation ul li a {
    padding: .857em 0;
    display: block;
}

.woocommerce-MyAccount-navigation ul li a:before {
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0f6";
    line-height: 1.618;
    margin-left: .53em;
    width: 1.387em;
    text-align: right;
    float: right;
    opacity: .25;
}

.woocommerce-MyAccount-navigation ul li a:hover:before {
    opacity: 1;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
    content: "\f0e4";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
    content: "\f291";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
    content: "\f1c6";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
    content: "\f015";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
    content: "\f09d";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
    content: "\f007";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
    content: "\f08b";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
    content: "\f021";
}


.my_account_orders .button.view:after,
p.order-again .button:after {
    font: normal normal normal 1em/1 FontAwesome;
    display: inline-block;
    margin-left: .53em;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
}

.my_account_orders .button.view:after {
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f06e";
}

p.order-again .button:after {
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f021";
}

.woocommerce-MyAccount-downloads .button:after {
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0ed";
    margin-left: .53em;
}

.woocommerce-MyAccount-content h2 {
    font-size: 2em;
    font-weight: 600;
}

.woocommerce-MyAccount-content #payment .payment_methods {
    margin-bottom: 1.618em!important;
}

.woocommerce-MyAccount-content #payment .payment_methods li .payment_box {
    background-color: rgba(0, 0, 0, .05);
}

.form-row label {
    display: block;
    font-size: 14px;
}

.demo_store:before,
.form-row.create-account label,
p.stars,
p.stars a {
    display: inline-block;
}

.form-row input,
.form-row select,
.form-row textarea {
    width: 100%;
}

.form-row .button,
.form-row input[type=checkbox],
.form-row input[type=radio] {
    width: auto;
}

.form-row.woocommerce-validated input.input-text {
    box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
    box-shadow: inset 2px 0 0 #e2401c;
}

.form-row-last {
    margin-right: 0!important;
}

.form-row-wide {
    clear: both;
    width: 100%;
}



.required {
    border-bottom: 0!important;
    color: red;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
.woocommerce-noreviews,
p.no-comments {
    padding: 1em 1.618em;
    margin-bottom: 2.618em;
    background-color: #0f834d;
    margin-left: 0;
    border-radius: 2px;
    color: #fff;
    clear: both;
    border-left: .618em solid rgba(0, 0, 0, .15);
}

.woocommerce-error::after,
.woocommerce-info::after,
.woocommerce-message::after,
.woocommerce-noreviews::after,
p.no-comments::after {
    clear: both;
    content: "";
    display: table;
}

.woocommerce-error a, .woocommerce-info a, .woocommerce-message a, .woocommerce-noreviews a, p.no-comments a {
    color: #000;
}

.woocommerce-error a:hover, .woocommerce-info a:hover, .woocommerce-message a:hover, .woocommerce-noreviews a:hover, p.no-comments a:hover {
    opacity: .7;
    text-decoration: underline;
}

.woocommerce-error a.button:hover,
.woocommerce-info a.button:hover,
.woocommerce-message a.button:hover,
.woocommerce-noreviews a.button:hover,
p.no-comments a.button:hover {
    opacity: 1;
}

.woocommerce-error .button,
.woocommerce-info .button,
.woocommerce-message .button,
.woocommerce-noreviews .button,
p.no-comments .button {
    float: right;
    padding: 0 0 0 1em;
    background: 0 0;
    color: #fff;
    box-shadow: none;
    line-height: 1.618;
    border-width: 0 0 0 1px;
    border-left-style: solid;
    border-left-color: rgba(255, 255, 255, .25)!important;
    border-radius: 0;
}

.woocommerce-error .button:hover,
.woocommerce-info .button:hover,
.woocommerce-message .button:hover,
.woocommerce-noreviews .button:hover,
p.no-comments .button:hover {
    background: 0 0;
    color: #fff;
    opacity: .7;
}

.woocommerce-error pre,
.woocommerce-info pre,
.woocommerce-message pre,
.woocommerce-noreviews pre,
p.no-comments pre {
    background-color: rgba(0, 0, 0, .1);
}

.site-content>.col-full>.woocommerce>.woocommerce-error:first-child,
.site-content>.col-full>.woocommerce>.woocommerce-info:first-child,
.site-content>.col-full>.woocommerce>.woocommerce-message:first-child {
    margin-top: 2.618em;
}

.wc-forward:after,
.woocommerce-Button--next:after {
    font: normal normal normal 1em/1 FontAwesome;
    display: inline-block;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f178";
    margin-left: .53em;
    display: none;
}

.woocommerce-Button--previous:before {
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f177";
    margin-right: .53em;
    display: none;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
    background-color: #3D9CD2;
}

.woocommerce-error {
    list-style: none;
    background-color: #e2401c;
}

dl.variation {
    font-size: .857em;
}

dl.variation dd {
    margin: 0 0 1em;
}

.woocommerce-MyAccount-content .woocommerce-Pagination {
    text-align: center;
}

.storefront-product-section .section-title {
    text-align: center;
    margin-bottom: 1.618em;
}

.storefront-product-section:last-child {
    border-bottom: 0;
}

@media (min-width:768px) {

    .woocommerce-MyAccount-navigation {
        width: 17.6470588235%;
        float: left;
        margin-right: 5.8823529412%;
    }
    .woocommerce-MyAccount-content {
        width: 76.4705882353%;
        float: right;
        margin-right: 0;
    }
    .woocommerce-EditAccountForm fieldset {
        margin-bottom: 20px;
    }
    .woocommerce-MyAccount-content input {
        display: block;
        width: 100%;
        height: 38px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    .woocommerce-MyAccount-content input.button {
        width: auto;
    }
}

body.woocommerce-account .woocommerce .col2-set,
.woocommerce-page .col2-set {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

body.woocommerce-account .woocommerce .col2-set:before,
.woocommerce-page.woocommerce-account .col2-set:before {}

body.woocommerce-account .woocommerce .col2-set:after,
.woocommerce-page.woocommerce-account .col2-set:after {}

body.woocommerce-account .woocommerce .col2-set .col-1 {
    border: 1px solid #e5e5e5;
    min-height: 350px;
    padding: 20px;
    background: #FFFFFF;
}

body.woocommerce-account .woocommerce .col2-set .col-2 {
    border: 1px solid #e5e5e5;
    min-height: 350px;
    padding: 20px;
    background: #FFFFFF;
}


body.woocommerce-account .woocommerce h2 {
    float: left;
    width: 100%;
    font-family: Roboto;
    line-height: 40px;
    font-size: 1.42857em;
    font-weight: 700;
    color: #323c3f;
    text-decoration: none;
}

body.woocommerce-account .woocommerce form.login,
body.woocommerce-account .woocommerce form.register {
    padding: 0px;
    border: none;
    margin: 0;
    float: left;
    width: 100%;
    max-width: 450px;
}

body.woocommerce-account .woocommerce .form-row label {
    font-weight: 500;
}

body.woocommerce-account .woocommerce form .form-row input.input-text {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

body.woocommerce-account .woocommerce form .form-row input.woocommerce-Button {
    position: relative;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    border-radius: 0;
    margin: 0;
    padding: 6px 15px 8px 15px;
    color: #ffffff;
    background: #2a2a2a;
    border-radius: 5px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

body.woocommerce-account .woocommerce form .form-row input.woocommerce-Button:focus {
    outline: none;
}

body.woocommerce-account .woocommerce form .form-row input.woocommerce-Button:hover {

}

body.woocommerce-account .woocommerce form .form-row label.inline {
    float: right;
    color: #000;
    margin: 0;
    display: flex;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
}

body.woocommerce-account .woocommerce form .form-row label.inline .woocommerce-Input--checkbox {
    margin-top: 0;
    margin-right: 5px;
}

body.woocommerce-account .woocommerce .woocommerce-LostPassword {
    margin: 0;
    font-weight: normal;
    font-style: italic;
}

@media only screen and (max-width: 990px) {
    body.woocommerce-account .woocommerce .col2-set,
    .woocommerce-page .col2-set {
        display: initial;
    }
    body.woocommerce-account .woocommerce .col2-set .col-1,
    body.woocommerce-account .woocommerce .col2-set .col-2 {
        margin-bottom: 30px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
.content-box-pro .content-box-1 {
    padding: 0;
}
    .woocommerce-cart .content-box {
        display: initial;
    }
    .woocommerce .product-remove a.remove {
        position: initial;
        transform: initial;
    }
    .show-quick-view .woocommerce .quantity-wrapper,
    .woocommerce-cart .woocommerce .quantity-wrapper {
        float: none;
        width: auto;
    }
    form div.quantity,
    .woocommerce #content div.product form.cart div.quantity,
    .woocommerce .quantity {
        float: none;
        display: inline-block;
    }
    .woocommerce table.cart td.actions input#coupon_code,
    .woocommerce-page #content table.cart td.actions input#coupon_code,
    .woocommerce-page table.cart td.actions input#coupon_code {
        border: 1px solid #2a2a2a;
    }
    body .woocommerce ul#shipping_method {
        width: auto;
    }
    body .woocommerce ul#shipping_method li input {
        float: none;
    }
}

@media only screen and (max-width: 480px) {
.woocommerce #content table.cart td.actions .coupon, 
.woocommerce table.cart td.actions .coupon, 
.woocommerce-page #content table.cart td.actions .coupon, 
.woocommerce-page table.cart td.actions .coupon {
    flex-wrap: wrap;
}
.woocommerce table.cart td.actions input#coupon_code, 
.woocommerce-page #content table.cart td.actions input#coupon_code, 
.woocommerce-page table.cart td.actions input#coupon_code {
    width: 100% !important;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 35px;
    border-color: #666;
}
.woocommerce .woocommerce-cart-form .shop_table .actions button.button {
    width: 100% !important;
    border-radius: 5px !important;
}
.woocommerce .shop_table ul#shipping_method {
    display: inline-block;
    width: 100%;
}
.woocommerce .shop_table ul#shipping_method li {
    display: flex;
    justify-content: flex-end;
}
    .woocommerce table.cart td.actions input,
    .woocommerce-page #content table.cart td.actions input,
    .woocommerce-page table.cart td.actions input {
        width: 100% !important;
    }
.full-content .woocommerce .woocommerce-info {
    padding: 0px !important;
    font-size: 16px;
    margin-bottom: 10px !important;
}
.woocommerce form .form-row {
    margin: 0 !important;
}
.full-content .woocommerce .woocommerce-info::before {
    display: none;
}
.cart-empty.woocommerce-info {
    margin-bottom: 10px !important;
}
.woocommerce .checkout.woocommerce-checkout {
    flex-wrap: wrap;
}
.woocommerce .col2-set, .woocommerce-page .col2-set, #order_review {
    width: 100% !important;
}
.woocommerce table.woocommerce-checkout-review-order-table td.product-thumbnail-name .product-name {
    width: 100%;
    padding: 0;
}
.woocommerce table.woocommerce-checkout-review-order-table td .product-thumbnail .product-quantity {
    right: -10px;
}
.woocommerce table.shop_table tfoot td[data-title="Giao hàng"] {
    padding: 10px 0px !important;
    width: 60%;
}
.woocommerce table.shop_table td {
    text-align: right;
}

}