.woocommerce.single-product #content div.product p.price span.woocommerce-Price-currencySymbol {
  display: inline;
}
.woocommerce #content p.stars a, .woocommerce-page #content p.stars a {
  position: relative;
}
.woocommerce .star-rating span {
  left: 2px;
  margin: 0;
}
.woocommerce .star-rating span {
  font-size: 14px;
  left: 0;
  margin: 0;
  top: -1px;
}
.woocommerce ul#shipping_method {
  width: 200px;
}
.woocommerce ul#shipping_method li {
  padding-left: 0;
}
.woocommerce ul#shipping_method li input {
  float: left;
  margin-left: 0;
  margin-top: 2px;
}
.woocommerce ul#shipping_method li label {
  margin-left: 20px;
}